<mat-card>
  <mat-toolbar>
    <span> Add new course </span>
  </mat-toolbar>

  <form [formGroup]="form" class="flex flex-col p-[16px]">
    <mat-form-field>
      <mat-label> Name </mat-label>
      <input matInput formControlName="name" />

      @if (form.get('name')?.invalid) {
      <mat-error> Name is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="null"> </mat-option>
        <mat-option value="front-end">Front-End</mat-option>
        <mat-option value="back-end">Back-End</mat-option>
      </mat-select>
      @if (form.get('category')?.hasError('required')) {
      <mat-error>Category is required</mat-error>
      }
    </mat-form-field>
  </form>

  <div
    class="flex pr-[16px] pl-[16px] pb-[16px]"
    [ngClass]="{ 'flex-col': isMobile(), 'flex-row justify-end': isDesktop() || isTablet() }"
  >
    <button
      [ngClass]="{ 'w-full mb-[16px]': isMobile(), ' mr-[16px]': isTablet() || isDesktop() }"
      matButton="outlined"
      matTooltip="Cancel course creation"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>

    <button
      [ngClass]="{ 'w-full': isMobile(), ' mr-[16px]': isTablet() || isDesktop() }"
      mat-raised-button
      matTooltip="Create course"
      color="primary"
      type="submit"
      (click)="onSubmit()"
      [disabled]="form.invalid"
    >
      Create
    </button>
  </div>
</mat-card>
